.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 14px;
  margin-top: 24px;
}

@media screen and (min-width: 1279px) and (max-width: 1919px) {
  .container {
    margin-top: 40px;
    gap: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    margin-top: 40px;
    gap: 20px;
  }
}
