.container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.searchIcon {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 20px;
}

.formInput {
  width: 100%;
  height: 60px;
  outline: none;
  background: #37383e;
  border: none;
  border-radius: 4px;
  padding-right: 64px;
}

input{
  color: #FFFFFF;
  line-height: 24px;
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #aaaaaa;
}

@media screen and (min-width: 1279px) and (max-width: 1919px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1919px) {
  .container {
    width: 80%;
  }
}
