.loadingScreen {
  width: 100%;
  height: 100%;
  margin-top: 14rem;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  border: 7px solid #f3f3f3;
  border-top: 7px solid #2d2d2d;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1279px) and (max-width: 1919px) {
  .loadingScreen{
    margin-top: 12rem;
  }
}


@media screen and (min-width: 1920px) {
  .loadingSpinner {
    width: 150px;
    height: 150px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #2d2d2d;
    margin-top: 23rem;
  }
}
