@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: iranyekan;
}
body {
  background-color: rgb(18, 18, 18);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #6eb8ff;
}

a:active,
a:visited {
  color: #fff;
}
